@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;

  --font-title: 'velzyland';
  --font-body: 'sofia-pro';
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-title: var(--font-title);
  --font-body: var(--font-body);
}

body {
  color: var(--foreground);
  font-family: var(--font-body);
}

p {
  font-family: var(--font-body);
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
}

.homepage {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }

  .small-caps {
    font-variant: small-caps;
    font-size: 12px;
  }

  ul {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  @media (width >=40rem) {
    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 24px;
    }

    .small-caps {
      font-size: 20px;
    }

    ul {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }
  }
}