@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-title: 'velzyland';
  --font-body: 'sofia-pro-variable';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-title: var(--font-title);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-body);
}

p {
  font-family: var(--font-body);
  font-weight: normal;
  font-style: normal;
}