@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;

  --font-title: 'velzyland';
  --font-body: 'sofia-pro';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-title: var(--font-title);
  --font-body: var(--font-body);
}

body {
  color: var(--foreground);
  font-family: var(--font-body);
}

p {
  font-family: var(--font-body);
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
}